:root {
    --transition-2: .2s ease all;
}

body.dark-theme {
    --card-background-color: #14171E;
    --body-background-color: #0D0E12;
    --card-inverse-background-color: #F7F9FE;
    --body-inverse-background-color: #FFFFFF;
    --text-default: white;
    --text-inverse-default: black;
    --text-neutral: rgba(255, 255, 255, .5);
    --text-inverse-neutral: rgba(0, 0, 0, .5);
    --text-muted: rgba(255, 255, 255, .75);
    --text-inverse-muted: rgba(0, 0, 0, .75);
    --text-light: #AAAAAA;
    --border-color: #1E2227;
    --border-inverse-color: #D7DBE0;
    --border-neutral: rgba(255, 255, 255, .1);
    --border-inverse-neutral: rgba(0, 0, 0, .1);
}
body.light-theme {
    --card-background-color: #F7F9FE;
    --body-background-color: #FFFFFF;
    --card-inverse-background-color: #14171E;
    --body-inverse-background-color: #0D0E12;
    --text-default: black;
    --text-inverse-default: white;
    --text-neutral: rgba(0, 0, 0, 0.5);
    --text-muted: rgba(0, 0, 0, .75);
    --text-inverse-muted: rgba(255, 255, 255, .75);
    --text-light: #AAAAAA;
    --text-inverse-neutral: rgba(255, 255, 255, 0.5);
    --border-color: #D7DBE0;
    --border-inverse-color: #1E2227;
    --border-neutral: rgba(0, 0, 0, .1);
    --border-inverse-neutral: rgba(255, 255, 255, .1);
}

h1, h2, h3, h4, h5, h6 {
    transition: var(--transition-2);
    color: var(--text-default);
}

p {
    transition: var(--transition-2);
    color: var(--text-neutral);
}

svg, svg * {
    transition: var(--transition-2);
}

body, section, .content, .section {
    transition: var(--transition-2);
    background-color: var(--body-background-color);
}

.card {
    box-shadow: none;
    transition: var(--transition-2);
    background: var(--card-background-color);
}

.text-default {
    transition: var(--transition-2);
    color: var(--text-default) !important;
}

.text-neutral {
    transition: var(--transition-2);
    color: var(--text-neutral) !important;
}
