body.light-theme {
    --body-background-color: #FDFDFD;
    --navbar-main-color: white;
    --form-control-focus-border: #ADADAD;
    --card-hover-color: #F2F2F2;
}

.content {
    margin-top: 113px;
}

.stripe-loading-indicator {
    height: 3px !important;
}
.stripe-loading-indicator .stripe, .stripe-loading-indicator .stripe-loaded {
    background: #ffbe3d !important;
}
.cursor-pointer {
    cursor: pointer !important;
}

.confirmation-code-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmation-code-wrapper > input:not(:first-child) {
    margin-left: 17px;
}

.confirmation-code-wrapper > input {
    border: 1px solid #E2DFDE;
    border-radius: 11px;
    text-align: center;
    color: black;
    font-weight: 400;
    height: auto;
    padding: 36px 34px;
    font-size: 32px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.confirmation-code-wrapper > input::placeholder {
    color: #E2DFDE;
    font-weight: 400;
    font-size: 32px;
}

@media(max-width: 1522px) {
    .confirmation-code-wrapper > input {
        padding: 30px 28px;
        font-size: 26px;
    }
    .confirmation-code-wrapper > input::placeholder {
        font-size: 26px;
    }
}

@media(max-width: 1348px) {
    .confirmation-code-wrapper > input {
        padding: 30px 22px;
        font-size: 20px;
    }
    .confirmation-code-wrapper > input::placeholder {
        font-size: 20px;
    }
}
@media(max-width: 408px) {
    .confirmation-code-wrapper > input {
        padding: 24px 16px;
        font-size: 14px;
    }
    .confirmation-code-wrapper > input::placeholder {
        font-size: 14px;
    }
}

.navbar {
    background: var(--navbar-main-color);
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.steps {
    position: relative;
    min-height: 14rem;
}
.step {
    position: absolute;
    width: 100%;
}
.step:not(:first-child) {
    left: 150%;
}

.btn-prew {
    border-radius: 5px;
    border: 0;
    padding: 11px 13px !important;
}
.btn-prew:hover path {
    stroke: white;
}

.logo {
    display: flex;
    align-items: center;
    font-family: Golos, sans-sans-serif;
    color: var(--text-default);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    transition: var(--transition-2);
}

body.dark-theme footer .logo {
    color: var(--text-default);
}
body.light-theme footer .logo {
    color: var(--text-inverse-default);
}

.logo img, .logo svg {
    width: 27px;
    height: 27px;
    margin-left: 12px;
    margin-right: 5px;
}

.copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-neutral);
    transition: var(--transition-2);
    margin-bottom: 0;
    margin-top: 12px;
}

body.dark-theme footer .copyright {
    color: var(--text-neutral);
}
body.light-theme footer .copyright {
    color: var(--text-inverse-neutral);
}

.nav-link {
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #000000 !important;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
}

.card {
    border: 1px solid #E2E1DD;
    border-radius: 24px;
    transition: all .2s ease;
}

.service-title {
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
}

.service-icon {
    background: rgba(255, 184, 33, 0.32);
    border-radius: 12px;
    width: 46px;
    height: 46px;
    padding: 6px;
    display: inline-block;
}
.service-icon > img {
    width: 100%;
    height: 100%;
}

.service-card-logo {
    position: absolute;
    width: 226px;
    height: 226px;
    right: 471px;
    top: calc(50% - 226px/2 + 16px);
    border-radius: 7px;
    opacity: .3
}

.section-background-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}

.ml-15 {
    margin-left: 15px !important;
}

.btn {
    padding: 14px 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.social .social-icon-badge {
    background: inherit;
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 10px;
}

.btn.social:hover .social-icon-badge {
    background: white;
}

.btn.social {
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-soft {
    border: 1px solid #E2E1DD;
    background: transparent;
    color: #5F5E5A;
}
.btn-outline-soft:hover {
    border: 1px solid #E2DFDE;
    background: #E2DFDE;
    color: black;
}
.btn-outline-soft:active {
    border: 1px solid #E2DFDE;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #E2DFDE;
    color: black;
}

.blur-lg {
    filter: blur(1px);
}

.social-icon {
    padding: 35px;
    display: inline-block;
    border-radius: 43px;
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.06);
}

.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-user-card {
    border-radius: 11px;
    border: 1px solid #E1E1E1;
    background: #FFFFFF;
    cursor: pointer;
    margin-bottom: 13px;
}
.auth-user-card:hover {
    border: 1px solid #24231F;
}
.auth-user-card .card-body {
    padding: 11px;
}

.avatar-auth {
    width: 32px;
    height: 32px;
    border-radius: 7px;
}

.btn-auth {
    border: 1px solid #E1E1E1;
    border-radius: 11px;
    background: #FFFFFF;
    font-size: 15px;
    display: flex;
    padding: 13.5px 16px;
    align-items: center;
    text-align: center;
    color: #5F5E5A;
    justify-content: center;
}

.form-group {
    position: relative;
}
.form-group label {
    position: absolute;
    z-index: 20;
    background: white;
    padding: 0 10px;
    top: -11.6px;
    left: 20px;
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    color: #5F5E5A;
    border-radius: 10px;
}
.form-group .form-control-right {
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    cursor: pointer;
}
.form-group .form-control-right > *:not(:first-child) {
    margin-left: 6px;
}
.form-control {
    padding: 15px 30px;
    border-radius: 11px;
    border: 1px solid #E2E1DD;
    color: #24231F;
    font-size: 16px;
}
.form-control:active, .form-control:focus {
    border: 1px solid var(--form-control-focus-border);
}
.form-control:active + .input-group-prepend .input-group-text,
.form-control:focus + .input-group-prepend .input-group-text {
    border: 1px solid var(--form-control-focus-border) !important;
    border-right: 0 !important;
}
.form-control:active + .input-group-prepend .input-group-text path,
.form-control:focus + .input-group-prepend .input-group-text path {
    stroke: var(--form-control-focus-border);
}

.form-group.error .input-group .form-control {
    border: 1px solid #FF6363;
    color: #FF6363 !important;
}
.form-group.error .form-control-label {
    color: #FF6363;
}
.form-group.error .error-message {
    background: #FF636327;
    border-radius: 10px;
    padding: 5.5px 16px;
    display: inline-block;
    color: #FF6363;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.show-password {
    display: flex;
    margin-right: 6px;
}

.form-control.form-control-prepend {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
}

.form-control {
    transition: var(--transition-2);
    background: transparent !important;
    color: var(--text-default) !important;
    padding: 12.5px 12px;
    border-radius: 8px !important;
    border: 1px solid #E7E7E7;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.form-control::placeholder {
    color: var(--text-neutral) !important;
    font-family: 'Noto Sans', sans-sans-serif;
    transition: var(--transition-2);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.input-group.input-group-merge .form-control-prepend + .input-group-prepend {
    margin-right: 0;
}

.input-group-prepend .input-group-text {
    background: transparent !important;
    border: 1px solid #E7E7E7 !important;
    transition: var(--transition-2);
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    border-right: 0 !important;
    padding: 0 1.25rem !important;
}

.avatar-lg {
    border-radius: 16px;
    width: 75px;
    height: 75px;
}

.font-size-18 {
    font-size: 18px !important;
}
.font-size-16 {
    font-size: 16px !important;
}
.font-size-14 {
    font-size: 14px !important;
}
.font-size-12 {
    font-size: 12px !important;
}

.font-weight-100 {
    font-weight: 100 !important;
}
.font-weight-200 {
    font-weight: 200 !important;
}
.font-weight-300 {
    font-weight: 300 !important;
}
.font-weight-400 {
    font-weight: 400 !important;
}
.font-weight-500 {
    font-weight: 500 !important;
}
.font-weight-600 {
    font-weight: 600 !important;
}
.font-weight-700 {
    font-weight: 700 !important;
}
.font-weight-800 {
    font-weight: 800 !important;
}
.font-weight-900 {
    font-weight: 900 !important;
}

.stepper {
    display: flex;
    align-items: center;
}
.step-counter {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid #E2DFDE;
    display: flex;
    justify-content: center;
    font-size: 14px;
    position: relative;
}
.step-counter:not(.active):not(.completed) {
    background: #E2DFDE;
}
.step-counter.active {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.step-counter:not(:last-child):after {
    content: '';
    width: 3px;
    height: 3px;
    display: block;
    background: #827F7E;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -9px;
}
.step-counter:not(:last-child) {
    margin-right: 13px;
}
.step-counter svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-validation-error {
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF6363;
    margin-top: 5px;
    margin-bottom: 0;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s all ease;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    width: fit-content;
    height: auto;
    margin-top: 0;
    padding: 13px 11px;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
}

.swiper-button-next {
    right: -19px;
}
.swiper-button-prev {
    left: -19px;
}

.swiper-slide .card {
    margin-left: 1px;
    margin-right: 1px;
}

.btn path {
    transition: .2s all ease;
}

.authenticatable {
    position: relative;
    transition: .2s all ease;
}
.authenticatable.active .card {
    border: 1px solid transparent;
}
.authenticatable:not(.active) .authenticating {
    display: none;
}
.authenticatable.active .authenticating {
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.authenticatable::after {
    content: '';
    opacity: 0;
    transition: .4s all ease;
}
.authenticatable.active::after {
    content: '';
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background: rgba(234, 234, 234, 0.75);
    border-radius: 11px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.authenticatable .authenticating {
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.authenticatable .authenticating .spinner-border {
    border-width: 2.8px;
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.alert-content {
    background: #E2DFDE50;
    border-radius: 24px;
    padding: 20px;
    margin-bottom: 1rem;
}

.alert-content *:last-child {
    margin-bottom: 0;
}

.fake-content {
    content: "";
    position: relative;
    display: block;
    overflow: hidden;
    background: #EFEFEF;
    border-radius: 6px;
}

.fake-content:after {
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(hsla(0, 0%, 100%, .6)), color-stop(50%, transparent));
    background: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .6), transparent 50%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-animation: fake-content 1s linear infinite;
    animation: fake-content 1s linear infinite;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    content: " ";
}

@-webkit-keyframes fake-content {
    to {
        -webkit-transform:translateX(100%);
        transform:translateX(100%)
    }
}

@keyframes fake-content {
    to {
        -webkit-transform:translateX(100%);
        transform:translateX(100%)
    }
}


.footer {
    background: #171717;
    padding: 35px 0;
}

.footer .btn {
    min-height: 40px;
    min-width: 40px;
    background: rgba(255, 255, 255, .07);
    border-radius: 10px;
    padding: 8px 10px;
    color: white;
    font-size: 14px;
}
.footer .btn:hover {
    background: rgba(255, 255, 255, .15);
}
.footer .btn:active {
    background: rgba(255, 255, 255, .2);
}

.footer .list-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 24px;
    line-height: 30px;
    text-align: left;
    color: var(--text-inverse-default);
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0;
    list-style: none;
}
.footer ul:last-child {
    margin-bottom: 0;
}

.footer ul a {
    font-weight: 400;
    vertical-align: middle;
    font-size: 18px;
    line-height: 25px;
    color: var(--text-inverse-neutral);
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer ul a:hover,
.footer ul a.active {
    color: var(--text-inverse-default);
}
.footer ul a:hover path,
.footer ul a.active path {
    stroke-opacity: 1;
}

.btn-auth {
    padding: 11.5px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--text-default);
    color: var(--text-inverse-default);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    border: 0 !important;
    box-shadow: none !important;
    transition: var(--transition-2);
}

.btn-auth:hover {
    background: var(--text-inverse-default);
    color: var(--text-default);
}
.btn-auth:hover svg .easy-id-svg-wrapper {
    transition: var(--transition-2);
    fill: var(--text-default);
}
.btn-auth:hover svg .easy-id-easy-text {
    transition: var(--transition-2);
    fill: var(--text-inverse-default);
}
.btn-auth:hover svg .easy-id-id-text {
    transition: var(--transition-2);
    fill: var(--text-default);
}
.btn-auth:hover svg .easy-id-easyid-wrapper {
    transition: var(--transition-2);
    fill: var(--text-inverse-default);
}
.btn-auth:active {
    opacity: .75;
}

.title {
    font-family: 'Dela Gothic One', cursive;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: var(--text-default);
    transition: var(--transition-2);
}

@media(min-width: 576px) {
    .title {
        font-size: 26px;
        line-height: 30px;
    }
}
@media(min-width: 768px) {
    .title {
        font-size: 28px;
        line-height: 32px;
    }
}
@media(min-width: 992px) {
    .title {
        font-size: 32px;
        line-height: 36px;
    }
}
@media(min-width: 1200px) {
    .title {
        font-size: 36px;
        line-height: 40px;
    }
}

.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-neutral);
    transition: var(--transition-2);
}

.link {
    color: #1A43B4;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    transition: var(--transition-2);
    display: block;
    width: fit-content;
    margin-bottom: 24px;
    position: relative;
    padding-left: 30px;
}

.link:before {
    content: url("e086956a978e7152c2db80485c3f86d999b3f020.svg");
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    height: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

.link:hover {
    text-decoration-line: underline;
    color: #162E6F;
}
.link:hover:before {
    content: url("ba6c4ea7691fb1453a7e07bf7da1fc6502cf233d.svg");
}

.link:active {
    text-decoration-line: underline;
    opacity: .75;
}

.service-link {
    display: flex;
    align-items: center;
    padding: 19.5px 60px 19.5px 30px;
    border: 1px solid transparent;
    color: var(--text-default);
    transition: var(--transition-2);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border-radius: 8px;
    position: relative;
}
.service-link:after {
    content: url("");
    width: 15px;
    height: 15px;
    vertical-align: middle;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.service-link .service-logo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
}

.service-link.small .service-logo {
    height: 27px;
    margin-right: 5px;
}

.service-link:hover {
    color: var(--text-default);
    border: 1px solid #E7E7E7;
}
.service-link:hover:after {
    content: url("");
}

.service-link:active {
    opacity: .75;
    border: 1px solid #E7E7E7;
}

nav[aria-label="breadcrumb"] {
    padding-top: 24px;
}

.breadcrumb {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.breadcrumb-item > a {
    color: var(--text-light);
    transition: var(--transition-2);
    display: inline-flex;
    align-items: center;
    gap: 12px;
}
.breadcrumb-item:not(.active):hover > a {
    color: var(--text-muted);
}
.breadcrumb-item:not(.active):hover path {
    stroke: var(--text-muted);
}

.breadcrumb-item.active {
    color: var(--text-default);
}

.breadcrumb-links .breadcrumb-item + .breadcrumb-item::before {
    background: rgba(0, 0, 0, 0.33);
}

.card {
    background: var(--text-inverse-default);
    border-radius: 10px;
    border: 1px solid #DBDBDB;
}

.card .card-header {
    padding: 30px;
}
.card .card-body {
    padding: 30px;
}

.card hr {
    height: 1px;
    border-top: 1px solid #DBDBDB;
    margin: 18px 30px;
}

@media (max-width: 992px) {
    .card.document {
        background: transparent;
        border-radius: 0;
        border: 0;
    }
    .card.document > * {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.card.document img {
    width: 100%;
    border-radius: 8px;
    margin-top: 24px;
}

.card.document p {
    margin-top: 24px;
    margin-bottom: 0;
    color: var(--text-muted);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.card.document .card-header p {
    color: var(--text-neutral);
}

.card.document h3 {
    color: var(--text-default);
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 0;
}
.card.document h3:not(:first-child) {
    margin-top: 48px;
}

* {
    scroll-margin-top: 137px !important;
}

html {
    scroll-behavior: smooth;
}

.document-nav {
    position: sticky;
    top: 143px;
}

.document-nav a {
    display: block;
    color: var(--text-neutral);
    transition: var(--transition-2);
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: 500;
    width: fit-content;
    font-size: 18px;
    line-height: 25px;
}

.document-nav a.active,
.document-nav a:hover {
    color: var(--text-default);
}

.nav-item {
    position: relative;
}

.search-results {
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    background: var(--text-inverse-default);
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    isolation: isolate;
    overflow-x: hidden;
}

.search-result {
    padding: 12.5px 15px 12.5px 45px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: transparent;
    color: var(--text-default) !important;
    cursor: pointer;
    transition: var(--transition-2);
    user-select: none;
    position: relative;
    display: block;
}

.search-result:before {
    content: url("");
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.search-result:hover {
    background: var(--card-hover-color);
}

.search-result:active {
    background: var(--card-hover-color);
    opacity: .75;
}

.document a {
    color: #1A43B4;
    text-decoration: none;
}

.document a:hover {
    color: #162E6F;
    text-decoration: underline;
}

.document a:active {
    color: #162E6F;
    opacity: .75;
}

.document a[target="_blank"]:before {
    content: url("");
    width: 20px;
    height: 22px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 2px;
}

.document a[target="_blank"]:hover:before {
    content: url("");
}
